main{
    background-color: rgba(76, 112, 175, 0.11);
   }
 header{
    background-color: rgba(49, 34, 182, 0.11);
 }
 nav{
    background-color: rgba(41, 138, 62, 0.11);
 }
 .carousel-inner{
    margin: auto;
   
 }
 .card-header{
   text-align: center; 
   font-family:'Times New Roman', Times, serif;
   font-size: 20pt; 
   
 